:root {
  --primary-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: var(--primary-color);
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

.btn {
  cursor: pointer;
}

/* Header */

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo-black-part {
  color: #000000;
}

.logo-white-part {
  color: #ffffff;
}

.nav,
.contacts {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-item {
  color: #212121;
}

.current {
  color: var(--accent-color);
}

.contacts-item {
  color: #757575;
}

/* Hero */

.hero {
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
}

/* Features */

.features-subtitle {
  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
}

.features-text {
  line-height: 1.71;
}

/* Examples & Team */

.examples-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-color);
}

.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Footer */

.footer {
  background-color: #2f303a;
}

.footer-contacts {
  font-style: normal;
  line-height: 1.71;
}

.address {
  color: #ffffff;
}

.footer-contacts-item {
  color: rgba(255, 255, 255, 0.6);
}

/* Portfolio */

.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: #212121;
  background-color: #f5f4fa;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.portfolio-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
}
